.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  'b1 b2';
    margin: 20px 10px;
    padding: 20px 20px;
}
.box1{
    grid-area: b1;
    margin: 0px 10px;
    padding: 30px 10px;
    margin-left: 0px;
    transform: translateX(30px);
}
.box1 h1{
    font-size:3rem;
}
.box1 p{
    font-size: 1.3rem;
}
.box1 h2{
    font-size: 2rem;
    border-bottom: solid 3px;
}
.box1 a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size:x-large;
    padding: 20px 20px;
}
.box1 a:hover{
    color:rgb(13, 235, 68);
}
.box2{
    grid-area: b2;
    border-radius: 30px;
    height: 650px;
    width: 520px;
    margin: 60px 80px;
    margin-right: 20px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    background-color:rgb(17, 19, 28);
    color: white;
    transition: box-shadow 0.3s ease-in-out;
}
.box2:hover {
    cursor: pointer;
    box-shadow: 3px 5px 45px 35px rgb(10, 248, 61);   
}
.box2 h1{
    text-align: center;  
}
.box2 input[type=text],input[type=password],input[type=tel],input[type=email]{
    width: 70%;
    margin: 15px 60px;
    padding: 10px 10px;
    color: white;
    background-color: transparent;
    border-bottom: whitesmoke 1px solid;
    border-right: none;
}
.box2 ::placeholder{
    font-weight: bolder;
}
.box2 textarea{
    color: white;
    width: 66%;
    margin-left: 60px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color:transparent;
    border:transparent;
    border-bottom: 1px solid whitesmoke;
}
.box2 button{
    background-color: rgb(10, 248, 61);
    font-weight: bolder;
    font-size: medium;
    height: 40px;
    width: 20%;
    margin: 50px 20px;
    margin-left: 170px;
    border-radius: 20px;
    
}
.box2 button:hover{
    background-color: white;
}